@font-face {
  font-family: 'Nexa';
  src: url('../../../public/Fonts/Nexa/Nexa-Bold.ttf');
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

.pet_card{
  width: 225px;
  border-radius: 8px;
  overflow: hidden;
}

.pet_card:hover{
  cursor: pointer;
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgb(101, 4, 181);
}

.pet_card_img{
  width: 100%; 
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  display: block;
}

.pet_card_footer{
  width: 100%;
  height: 70px;
  position: relative;
  background-color: white;
}

.pet_card_footer::before{
  content: " ";
  position: absolute; /* или fixed/relative в зависимости от контекста */
  transform: translateY(-17px);
  width: 100%;
  height: 18px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: white;
}

.pet_card_name{
  padding-top: 15px;
  width: 100%;
  text-align: center;
  color: rgb(101, 4, 181);
  font-style: oblique;
  font-family: "Nexa";
  font-weight: 500;
  font-size: 1.3rem;
}