.quizzle_card{
  box-sizing: border-box;
  width: 188px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(210, 209, 211);
  border-width: 1px;
}

.quizzle_card:hover{
  cursor: pointer;
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgb(101, 4, 181);
}

.quizzle_img_conteiner{
   width: 100px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.quizzle_img{
  width: 100%;
}

.quizzle_paragraph{
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: rgb(77, 71, 81);
  font-family: "Nexa";
  font-weight: 400;
  font-size: 1.1rem;
}