.hero_conteiner{
  position: relative;
  width: 100vw;
}

.hero_conteiner::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: rgb(101, 4, 181);
}

.hero_img{
  width: 100vw;
  height: 450px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.text_overlay{
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;

  font-family: "Nexa";
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
  color: white;

  cursor: default;
}

.paragraph_overlay{
  position: absolute;
  top: 66%;
  width: 100%;
  text-align: center;

  font-family: "Nexa";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  color: white;

  cursor: default;
}

.filtered_redirect_conteiner{
  position: relative;
}

.cards_conteiner{
  width: 800px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;

}

