@font-face {
  font-family: 'Nexa';
  src: url('./public/Fonts/Nexa/Nexa-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('./public/Fonts/Nexa/Nexa-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('./public/Fonts/Nexa/Nexa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.button{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: none;
  background-color: rgb(101, 4, 181);
  color: white;
  font-size: 16px;
  font-weight: 900;
  font-family: "Nexa";

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button:hover{
  cursor: pointer;
  background-color: rgb(91, 6, 161);
  transition: all 0.5s;
}

img{
  width: 20px;
}